* {
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a, button, input {
  -webkit-tap-highlight-color: #fff;
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: #fff;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: #fff;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
  color: #fff;
}

a:focus, input:focus, p:focus, div:focus {
  -webkit-tap-highlight-color: #fff;
  outline: none;
}

/* 内容盒子样式 */

.box {
  box-sizing: border-box;
  padding: 30px 40px 40px;
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
}